*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

.home,
.hype{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.max-width{
  max-width: 1300px;
}

/* navigation  */
.navbar{
  background-color: #444444;

}

.navbar-brand{
  padding: 10px 10px;
  background-color: rgb(32, 218, 147);
  border-radius: 5px;
}

.nav-item{
  background-color: rgb(32, 218, 147);
  text-decoration: none;
  border-radius: 1px;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-item:hover{
  background-color: rgba(1, 255, 213, 0.644);
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  height: 100%;
}

.nav-links:hover{
  color: #000000;
  text-decoration: none;
}


/* layout */

.home { 
  color: rgb(0, 0, 0);
  font-size: 100px;
}