*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans', sans-serif;
}

.main,
.hype{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
}

.max-width{
  max-width: 1300px;
}

/* navigation  */
.navbar{
  background-color: #444444;

}

a .navbar-brand{
  color: rgb(32, 218, 147);
  font-size: 2rem;
}

.nav-item{
  background-color: rgb(32, 218, 147);
  border-radius: 1px;
  padding: 10px 20px;
  cursor: pointer;
}

.nav-item:hover{
  background-color: rgba(1, 255, 213, 0.644);
}


/* layout */

.home { 
  background-color: gray;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}